# secrets
config*.jsonc
!config.example.jsonc

# Tests
test-report.xml

# Binary data
/data/

# scripts
cache/

# server specific
images/

# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Coverage
coverage
coverage.lcov

# Transpiled files
build/

# Python
venv/

# VS Code
.vscode
!.vscode/tasks.js

# JetBrains IDEs
.idea/
*.iml

# Optional npm cache directory
.npm

pnpm-lock.yaml
package-lock.json

# Optional eslint cache
.eslintcache

# Misc
.DS_Store
