# secrets
config.json

# scripts
scripts/.last*
scripts/*.cache

# server specific
images/

# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Coverage
coverage

# Transpiled files
build/

# VS Code
.vscode
!.vscode/tasks.js

# JetBrains IDEs
.idea/
*.iml

# Optional npm cache directory
.npm

pnpm-lock.yaml
package-lock.json

# Optional eslint cache
.eslintcache

# Misc
.DS_Store
