# secrets
config*.jsonc
!config.example.jsonc

# Binary data
/data/

# scripts
cache/

# server specific
images/

# Deno
deno-cache

# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Tests
test-report.xml

# Coverage
coverage
coverage.lcov

# Transpiled files
build/

# Python
venv/

# IDE files
.vscode/
.idea/
*.iml
.zed/

# Optional npm cache directory
.npm

pnpm-lock.yaml
package-lock.json

# Optional eslint cache
.eslintcache

# Misc
.DS_Store
